<div style="margin-top: 1em; margin-left: 3em">
  <h1>directive:</h1>
</div>


<div style="margin-left: 3em">
  <p class="uk-text-large">Write a <button class="uk-button" ng-click="vm.newGenre()">{{vm.genre}}</button> using the word or phrase <button class="uk-button" ng-click="vm.newWord()" ng-model="vm.word">{{vm.word}}</button></p>
</div>


<div class="uk-form">
      <textarea  name="" id="" class="uk-scrollable-text uk-width-9-10" style="display: block; margin-left: auto; margin-right: auto; height: 280px; border-radius: 1em" ng-model="vm.creation"></textarea>
</div>
