<!DOCTYPE html>
<html class="uk-height-1-1">
  <head>
    <title>Writely</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'writely', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app" class="uk-width-1-1 uk-height-1-1">
    <%= yield %>
  </body>
</html>
